
/* Generic Styles */

html, body {
    height: 100vh;
    width: 100vw;
    min-width: 800px;
    min-height: 600px;
}

body {
    height: calc(100vh - 2rem);
    width: calc(100vw - 2rem);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    font-family: monospace;
}

div.flexspace {
    flex-grow: 1;
    font-size: 0;
}

/* Layout Styles */

section.config {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    min-height: 0;
}

/* Input Section ==================================== */

section.catagory, fieldset.catagory, fieldset.block {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

fieldset.block {
    overflow-y: scroll;
}

fieldset.catagory > label, fieldset.block > label {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

fieldset.catagory > label {
    white-space: nowrap;
}

fieldset.catagory > label > input, fieldset.block > label > input {
    margin-right: 0.5rem;
}


fieldset.block div.custom {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

fieldset.block div.custom textarea {
    resize: none;
    height: 6rem;
}

/* Render Section ==================================== */

fieldset.render {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

fieldset.render > label {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-top: 0.2rem;
    white-space: nowrap;
}

fieldset.render > label > input {
    margin-left: 1rem;
    text-align: right;
    flex-grow: 1;
    min-width: 0;
    width: 100%;
}

fieldset.render > section.preview {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

fieldset.render > section.preview > canvas {
    width: 44%;
    border: 1px dashed #000;
    margin-top: 1rem;
}

fieldset.render > button {
    margin-top: 1rem;
}

/* Output Section ==================================== */

fieldset.output {
    display: flex;
}

div.output {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

div.output > div.progress {
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    border: 1px solid #000;
    padding: 1px;
    position: relative;
}

div.output > div.progress > div.bar {
    position: absolute;
    width: 0px;
    height: calc(100% - 2px);
    background: #000;
    color: #FFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

div.output span.progress {
    margin-left: 0.5rem;
    white-space: nowrap;
}

div.output > a {
    text-decoration: none;
    margin: 0.2rem 0 0.2rem 1rem;
    padding: 0.2rem;
    border: 1px solid #888;
    color: #888;
}

